.design {
	&__interior {
		display: grid;
		grid-template-columns: 255px 255px auto 330px;
		grid-template-rows: auto auto;
		gap: 15px 45px;
	}

	&__cell-one {
		grid-row: 1/3;
	}

	&__cell-title {
	}

	&__cell-text {
		line-height: 120%;

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__image-1 {
		grid-column: 2/5;
		width: 100%;
		height: 450px;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__cell-two {
		grid-row-end: -1;
		display: flex;
		align-items: flex-end;
	}

	&__cell-three {
		grid-column-end: -1;
		grid-row-end: -1;
		display: flex;
		align-items: flex-end;
	}

	&__image-2 {
		width: 100%;
		height: 205px;
		border-radius: 102.5px 0px;
		overflow: hidden;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
