.first {
	background: #070a1b;
	position: relative;
	margin-bottom: 150px;
	z-index: 2;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		border-radius: 400px 400px 0px 0px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body {
		min-height: calc(100vh - 100px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: relative;

		&::after {
			content: "";
			background: url("../img/first/icons/mercedes_icon.svg") center/cover no-repeat;
			width: 50px;
			height: 50px;
			position: absolute;
			bottom: -25px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__title {
		font-family: "Corporate A", serif;
		font-weight: 700;
		font-size: 72px;
		line-height: 120%;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__text {
		font-size: 24px;
		line-height: 120%;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding-bottom: 50px;
	}
}
