.header {
	background: #070a1b;
	padding: 30px 0px;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
	}

	&__logo {
		margin-left: 150px;
	}

	&__list {
	}
}

.menu {
	display: flex;

	&__btn {
		width: 30px;
		height: 17px;
		position: relative;
		z-index: 5;

		span {
			width: 100%;
			height: 1px;
			background: #fff;
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s;
		}

		&::before {
			content: "";
			width: 100%;
			height: 1px;
			background: #fff;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.3s;
		}

		&::after {
			content: "";
			width: 100%;
			height: 1px;
			background: #fff;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: all 0.3s;
		}
	}

	&__btn--active {
		position: relative;
		z-index: 10;

		span {
			opacity: 0;
		}

		&::before {
			transform: rotate(45deg);
			top: 50%;
		}

		&::after {
			transform: rotate(-45deg);
			top: 50%;
			bottom: unset;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		left: -100%;
		top: 0;
		width: 100%;
		padding: 100px 0px 50px;
		background: #070a1b;
		min-height: 100vh;
		overflow: auto; //чтобы появился скролл при большом кол-ве пунктов меню
		transition: left 0.3s;
	}

	&__list--active {
		left: 0;
		position: absolute;
		z-index: 5;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__link {
		font-size: 24px;
		line-height: 120%;
		color: #fff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transition: all 0.3s;

		&:hover {
			color: #f402a2;
		}
	}
}
