//NORMALIZE
@import "_normalize.scss";

//МОИ ОБНУЛЯЮЩИЕ СТИЛИ
@import "_reset.scss";

//FONTS
@import "_fonts.scss";

//BASE
@import "_base.scss";

//HEADER
@import "_header.scss";

//FIRST
@import "_first.scss";

//CONCEPT
@import "_concept.scss";

//PREMIER
@import "_premier.scss";

//VIDEO
@import "_video.scss";

//FOOTER
@import "_footer.scss";
